.section2__menu__list {
  margin-bottom: 59px;
  margin-top: 61px;
  width: 471px;
  margin-left: auto;
  margin-right: auto;
  .svg {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlide 1s ease forwards;
    margin-bottom: 10px;
    width: 470px;
    height: 120px;

    .svg:nth-of-type(1) {
      animation-delay: 1s;
    }
    .svg:nth-of-type(2) {
      animation-delay: 1.3s;
    }
    .svg:nth-of-type(3) {
      animation-delay: 1.5s;
    }
    .svg:nth-of-type(4) {
      animation-delay: 1.7s;
    }
  }
}
@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section2__menu__item {
  width: 450px;
  .section2__menu__title {
    color: $main-title-color;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin-left: auto;
  }
  .section2__menu__text {
    color: $main-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 470px;
  }
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
  .section2__menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: 60px;
    .section2__menu__item {
      flex-basis: calc((100% - 2 * 30px) / 2);
      .section2__menu__title {
        color: $main-title-color;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
      .section2__menu__text {
        color: $main-text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
      }
    }
  }
  .svg{
    margin-bottom: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .section2__menu__list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 30px;
    margin-top: 94px;
    .section2__menu__item {
      width: 270px;
      .section2__menu__title {
        color: $main-title-color;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
      .section2__menu__text {
        color: $main-text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
      }
    }
  }
}
