.section6 {
  padding-top: 174px;
  padding-bottom: 94px;
  .section__title {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
  .menu__button1 {
    @include menu__button(73px);
  }
  .menu__button2 {
    @include menu__button(125px);
  }
  .menu__button3 {
    @include menu__button(112px);
  }
  .menu__button4 {
    @include menu__button(103px);
  }
  .menu__button5 {
    @include menu__button(130px);
  }
}

.menu__cards__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  .menu__cards__item {
    width: 370px;
    height: 404px;
    border: 1px solid #eee;
    flex-basis: calc((100% - 2 * 30px) / 3);
    box-shadow: 0px 2px 2px rgb(111, 111, 111);
    &:hover,
    &:focus {
      box-shadow: 0 0 10px gray;
    }
    .menu__cards__img {
      width: 370px;
      height: 294px;
      background: url("path_to_image");
      margin-bottom: 20px;
    }
    .menu__cards__item__title {
      color: $main-title-color;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
      margin-left: 24px;
    }
    .menu__cards__item__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $main-text-color;
      margin-left: 24px;
      margin-bottom: 20px;
    }
  }
}

.cards__overlay {
  position: relative;
  overflow: hidden;
  .overlay__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2195f3c3;
    transform: translateY(101%);
    transition: transform 250ms;
    padding: 63px 24px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
  }
}
.cards__overlay:hover .overlay__text,
.cards__overlay:focus .overlay__text {
  transform: translateY(0);
}
